<a href="https://colab.research.google.com/github/badaroz/reconhecimento-padroes/blob/main/problema_generalizacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import fetch_openml
from sklearn.metrics import accuracy_score, mean_squared_error

from sklearn.model_selection import train_test_split

import pandas as pd
import matplotlib.pylab as plt

import numpy as np

In [2]:
request = fetch_openml(data_id=37,as_frame=True)
X = request.data
y = request.target.map({"tested_negative":0,"tested_positive":1})

In [3]:
X.shape,y.shape

((768, 8), (768,))

In [4]:
X

     preg   plas  pres  skin   insu  mass   pedi   age
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0
..    ...    ...   ...   ...    ...   ...    ...   ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0

[768 rows x 8 columns]

In [5]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: category
Categories (2, int64): [0, 1]

Logistic Regression

In [6]:
lista_ac_lg= list()
lista_mse_lg = list()

for _ in range(10):
    X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3)
    modelo = LogisticRegression(solver="liblinear")
    
    modelo.fit(X_treino, y_treino)
    ypred = modelo.predict(X_teste)
    
    acuracia = accuracy_score(y_teste, ypred)
    mse = mean_squared_error(y_teste, ypred)

    lista_ac_lg.append(acuracia)
    lista_mse_lg.append(mse)


print("Media MSE: ", np.mean(lista_mse_lg)," Media acuracia: ", np.mean(lista_ac_lg))

Media MSE:  0.23593073593073594  Media acuracia:  0.7640692640692641

KNN

In [7]:
lista_ac_knn = list()
lista_mse_knn = list()

for _ in range(10):
    X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3)
    modelo = KNeighborsClassifier()
    
    modelo.fit(X_treino, y_treino)
    ypred = modelo.predict(X_teste)
    
    acuracia = accuracy_score(y_teste, ypred)
    mse = mean_squared_error(y_teste, ypred)

    lista_ac_knn.append(acuracia)
    lista_mse_knn.append(mse)


print("Media MSE: ", np.mean(lista_mse_knn)," Media acuracia: ", np.mean(lista_ac_knn))

Media MSE:  0.2805194805194805  Media acuracia:  0.7194805194805195